@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-light.woff2") format("woff2"),
      url("./fonts/montserrat/woff/montserrat-light.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-regular.woff2")
        format("woff2"),
      url("./fonts/montserrat/woff/montserrat-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-medium.woff2") format("woff2"),
      url("./fonts/montserrat/woff/montserrat-medium.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-display: swap;
    font-style: italic;
    src: url("./fonts/montserrat/woff2/montserrat-medium-italic.woff2")
        format("woff2"),
      url("./fonts/montserrat/woff/montserrat-medium-italic.woff")
        format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-semibold.woff2")
        format("woff2"),
      url("./fonts/montserrat/woff/montserrat-semibold.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-bold.woff2") format("woff2"),
      url("./fonts/montserrat/woff/montserrat-bold.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat", "sans-serif";
    font-weight: 800;
    font-display: swap;
    src: url("./fonts/montserrat/woff2/montserrat-extrabold.woff2")
        format("woff2"),
      url("./fonts/montserrat/woff/montserrat-extrabold.woff") format("woff");
  }

  *,
  body {
    @apply font-montserrat;
  }
}
